<br><br>
<div class="container mt-5">
    <h2 class="mt-5 alert alert-primary text-center">Add New Product</h2>
    <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
      <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          [(ngModel)]="product.name"
          required
        />
        <div *ngIf="productForm.submitted && !product.name" class="text-danger">
          Product name is required.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          id="price"
          name="price"
          class="form-control"
          [(ngModel)]="product.price"
          required
          min="0"
        />
        <div *ngIf="productForm.submitted && (!product.price || product.price < 0)" class="text-danger">
          Price is required and must be a positive value.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select
          id="category"
          name="categoryId"
          class="form-select"
          [(ngModel)]="product.categoryId"
          required
        >
          <option value="0">Select Category</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
        <div *ngIf="productForm.submitted && !product.categoryId" class="text-danger">
          Selecting a category is required.
        </div>
      </div>
  
      <button type="submit" class="btn btn-success me-3">
        Add Product
      </button>
      <button type="button" class="btn btn-dark" (click)="router.navigate(['/products'])">
        Cancel
      </button>
    </form>
  </div>
  